*{
  padding: 0;
  margin: 0;
}
@font-face{
  font-family: 'Hanken Grotesk';
  src: url('fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Hanken Grotesk Italic';
  src: url('fonts/HankenGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
body{
  max-width: 430px;
  /* border: solid; */
   font-family: 'Hanken Grotesk', sans-serif;
  color:black;
  
}
.Header{
  /* border-radius: 0 0 120px 120px; */
 
  position: relative;
}
.logo{
  height: 18px;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.head button{
  background-color:#301934 ;
  color: #ffffff;
border: none;
font-weight: bolder;
border-radius: 15px;
width: 80px;
height: 25px;
}
.head button:hover{
  color:#301934 ;
  background-color:#ffffff;
}
.sticky-header {
  position: fixed;
  top: -100px; /* Start hidden above the viewport */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); 
  height: 30px;
  padding: 15px;
  text-align: center;
  transition: top 0.3s ease-in-out;
  z-index: 1000; /* Ensure it's above other elements */
}

.sticky-header.visible {
  top: 0; /* Slide into view when scrolling past the main header */
}

.location{
  margin-top: 20px;
  padding: 20px;
}
.location h1{
  font-weight: 2000;
  font-size: 25px;
  color: #301934;
}
.location input{
 width: 250px;
 text-align: center;
 height: 40px;
 border: none;
 border-radius: 10px;
 font-weight: bolder;
 margin-top: 7px;
 background-color: #ffffff;
}
.location button{
 width: 100px;
 text-align: center;
 height: 40px;
 border-radius: 10px;
 font-weight: bolder;
 border: none;
 margin-top: 10px;
 background-color:#301934 ;
  color: #ffffff;
}
.location button:hover{
  color: #301934;
  background-color: #ffffff;
}
.location-stick{
 display: flex; 
 justify-content: space-around;
  
}
.location-stick h1{
  font-weight: 1500;
  font-size: 20px;
  color: #301934;
}
.location-stick input{
 width: 250px;
 text-align: center;
 height: 30px;
 /* border: #301934; */
 border-radius: 10px;
 font-weight: bolder;
 /* margin-top: 10px; */
 
 background-color: #ffffff;
}
.location-stick button{
 width: 100px;
 text-align: center;
 height: 30px;
 border-radius: 10px;
 font-weight: bolder;
 border: none;
 /* margin-top: 10px; */
 background-color:#301934 ;
  color: #ffffff;
}
.location-stick button:hover{
  color: #301934;
  background-color: #ffffff;
}

.hero{
  background-color: #f0ebf4;
  /* width: 90%; */
  /* border-radius: 10px; */
  padding: 10px;
  text-align: center;

}

.hero img{
  height:40px;
}
.hero .card{
  background-color: #ffffff;
  width: 95%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.03),
  0px 0px 10px rgb(0, 0, 0, 0.03),
  10px 0px 10px rgb(0, 0, 0, 0.03),
  -10px 0px 10px rgb(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.hero .card a{
  color: inherit;

}
.hero .card a:hover{
  color: #301934;
}
.slider-container {
  width: 100%; 
  overflow: hidden; 
  background-color: #f0ebf4; 
  white-space: nowrap; 
  border: 1px solid #ddd;
  border: none; 
}

.sliding-text {
  display: inline-block;
  padding: 10px;
  white-space: nowrap; 
  animation: slide 30s linear infinite;
  
}
.slide-img{
  margin-right: 5px;
}
.sliding-text div {
  display: inline-block;
  margin-right: 50px; 
  font-size: 20px; 
  color: #301934; 
  width: fit-content;
  border-radius: 10px;
  background-color: rgba(240, 235, 244, 0.5);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.01),
0px 0px 10px rgb(0, 0, 0, 0.01),
10px 0px 10px #00000003,
-10px 0px 10px rgb(0, 0, 0, 0.01);
  padding:10px
}

@keyframes slide {
  0% {
    transform: translateX(5%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}
.middle{
  background-color: #fff9c4;
  padding: 20px;
  border: none; 
}
#middle{
  
  width: 95%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.03),
  0px 0px 10px rgb(0, 0, 0, 0.03),
  10px 0px 10px rgb(0, 0, 0, 0.03),
  -10px 0px 10px rgb(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 15px;
}
#middle h2{
  color: #6e3278;
  width: 90%;
  margin-bottom: 10px;
  
  
  
}
#middle p{
  width: 95%;
  margin-bottom: 5px;
}
#middle button{
  color: #6e3278;
  border: none;
  height: 40px;
  padding: 5px;
  width: 150px;
  font-weight: bolder;
  background-color: #fff176;
  border-radius: 8px;
  font-size: large;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.03),
  0px 0px 10px rgb(0, 0, 0, 0.03),
  10px 0px 10px rgb(0, 0, 0, 0.03),
  -10px 0px 10px rgb(0, 0, 0, 0.03);
}
#middle button:hover{
  background-color: #ffffff;
}