*{
  padding: 0;
  margin: 0;
}
@font-face{
  font-family: 'Hanken Grotesk';
  src: url('fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Hanken Grotesk Italic';
  src: url('fonts/HankenGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
body{
  max-width: 430px;
  /* border: solid; */
   font-family: 'Hanken Grotesk', sans-serif;
  color:black;
  
}
.Header{
  border-radius: 0 0 120px 120px;
 
  position: relative;
}
.logo{
  height: 18px;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.head button{
  background-color:#301934 ;
  color: #ffffff;
border: none;
font-weight: bolder;
border-radius: 15px;
width: 80px;
height: 25px;
}
.head button:hover{
  color:#301934 ;
  background-color: #ffffff;


}
.location{
  margin-top: 25px;
  padding: 20px;
}
.location h1{
  font-weight: 1500;
  font-size: 30px;
  color: #301934;
}
.location input{
 width: 250px;
 text-align: center;
 height: 40px;
 border: none;
 border-radius: 10px;
 font-weight: bolder;
 margin-top: 7px;
 background-color: #ffffff;
}
.location button{
 width: 100px;
 text-align: center;
 height: 40px;
 border-radius: 10px;
 font-weight: bolder;
 border: none;
 margin-top: 10px;
 background-color:#301934 ;
  color: #ffffff;
}
.location button:hover{
  color: #301934;
  background-color: #ffffff;
}
